.not-page {
  min-height: 928px;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.not-image {
  height: 270px;
  width: 297px;
}
.not-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;

  text-align: center;

  color: #1e293b;
}
.not-subheading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;

  text-align: center;

  color: #475569;
}
.home-button {
  padding: 12px 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  background: #f7931e;
  border-radius: 12px;
  outline: none;
  border: none;
}
