.cart-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.cart-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #475569;

  min-width: 36%;
}
.cart-categories-heading {
  display: flex;
  justify-content: space-around;

  width: 100%;
}
@media screen and (max-width: 576px) {
  .cart-categories-heading {
    display: none;
  }
}
